# tasks file
---
- block:
    - name: networking | disable automatic udev rules for interfaces  # noqa command-instead-of-module
      command: >
        rm -rfv {{ item }}
      register: _disable_udev_rules
      changed_when: _disable_udev_rules.stdout_lines | length > 0
      with_items:
        - /etc/udev/rules.d/70-persistent-net.rules
        - /lib/udev/rules.d/75-persistent-net-generator.rules
        - /dev/.udev/
        - /var/lib/dhcp3/*
        - /var/lib/dhcp/*

    - name: networking | disable automatic udev rules for interfaces
      file:
        path: /etc/udev/rules.d/70-persistent-net.rules
        state: directory
        mode: 0755
  when: (ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('15.04', '<')) or
        (ansible_distribution == 'Debian' and ansible_distribution_version is version('8', '<='))

- name: networking | create netplan config
  copy:
    src: etc/netplan/01-netcfg.yaml
    dest: /etc/netplan/01-netcfg.yaml
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_version is version('17.10', '>=')

- name: networking | make dhclient happy
  lineinfile:
    dest: "{{ packer_template_network_interfaces_file }}"
    line: 'pre-up sleep 2'
  when: (ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('17.10', '<')) or
        (ansible_distribution == 'Debian')

- name: networking | disable predictable network interface names  # noqa command-instead-of-module
  shell: >
    {{ item }}
  with_items:
    - (test -e {{ packer_template_network_interfaces_file }} && sed -i 's/en[[:alnum:]]*/eth0/g' {{ packer_template_network_interfaces_file }}) || true
    - sed -ie 's/GRUB_CMDLINE_LINUX="\(.*\)"/GRUB_CMDLINE_LINUX="net.ifnames=0 biosdevname=0 \1"/g' /etc/default/grub
    - update-grub
  when: (ansible_distribution == 'Ubuntu' and ansible_distribution_version is version('16.04', '>=')) or
        (ansible_distribution == 'Debian' and ansible_distribution_version is version('9', '>='))
