# tasks file for packer-template
---
# See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=751636
- name: systemd | install libpam-systemd
  apt:
    name: libpam-systemd
    state: "{{ apt_install_state | default('latest') }}"
  when: ansible_distribution == 'Debian' and ansible_distribution_version is version('8', '>=')
