# tasks file for packer-template
---
- name: vagrant | create .ssh directory
  file:
    path: /home/vagrant/.ssh
    state: directory
    owner: vagrant
    group: vagrant
    mode: 0700

- name: vagrant | download public key
  get_url:
    url: https://github.com/mitchellh/vagrant/raw/master/keys/vagrant.pub
    dest: /home/vagrant/.ssh/authorized_keys
    owner: vagrant
    group: vagrant
    mode: 0600

- name: vagrant | synchronize .ssh directory to root
  command: >
    rsync -ai --delete --no-o --no-g /home/vagrant/.ssh/ /root/.ssh
  register: _synchronize_to_root
  changed_when: _synchronize_to_root.stdout_lines | length > 0
