# tasks file for packer-template
---
- name: virtualbox | get version
  command: >
    cat /home/vagrant/.vbox_version
  register: _vbox_version

# Only needed for testing purposes, not during a Packer run
- name: virtualbox | stat iso
  stat:
    path: "/home/vagrant/VBoxGuestAdditions_{{ _vbox_version.stdout }}.iso"
  register: _stat_iso

# Only needed for testing purposes, not during a Packer run
- name: virtualbox | download iso
  get_url:
    url: "http://download.virtualbox.org/virtualbox/{{ _vbox_version.stdout }}/VBoxGuestAdditions_{{ _vbox_version.stdout }}.iso"
    dest: "/home/vagrant/VBoxGuestAdditions_{{ _vbox_version.stdout }}.iso"
    owner: vagrant
    group: vagrant
    mode: 0644
  when: not _stat_iso.stat.exists

- name: virtualbox | mount iso
  mount:
    name: /tmp/vbox
    src: "/home/vagrant/VBoxGuestAdditions_{{ _vbox_version.stdout }}.iso"
    opts: loop
    state: mounted
    fstype: iso9660

- name: virtualbox | run installer
  shell: >
    sh /tmp/vbox/VBoxLinuxAdditions.run
  failed_when: false

- name: virtualbox | fix mount.vboxsf
  file:
    src: "/opt/VBoxGuestAdditions-{{ _vbox_version.stdout }}/lib/VBoxGuestAdditions/mount.vboxsf"
    dest: /sbin/mount.vboxsf
    state: link
    force: true
    follow: false
  when: _vbox_version.stdout is version('5.1.20', '==')

- name: virtualbox | umount iso
  mount:
    name: /tmp/vbox
    src: "/home/vagrant/VBoxGuestAdditions_{{ _vbox_version.stdout }}.iso"
    state: absent
    fstype: iso9660

- name: virtualbox | cleanup
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /tmp/vbox
    - "/home/vagrant/VBoxGuestAdditions_{{ _vbox_version.stdout }}.iso"
